<li class="post-item">
    <a class="post-item-link" href="{{url}}">
        <span class="post-item-title">{{title}}</span>
        <time class="post-item-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM D, YYYY"}}</time>
    </a>
</li>
