{{!< default}}

{{#author}}
<div class="archive-header">
    <h1 class="archive-title">{{name}}</h1>
    {{#if bio}}<p class="archive-description">{{bio}}</p>{{/if}}
    <p class="archive-count">{{plural ../pagination.total empty="No posts" singular="% post" plural="% posts"}}</p>
</div>
{{/author}}

<div class="post-feed">
    {{#if posts}}
        <ul class="post-list">
            {{#foreach posts}}
                {{> "post-list-item"}}
            {{/foreach}}
        </ul>
    {{/if}}

    {{pagination}}
</div>
